.header {
  min-height: 10vh;
  width: 100%;
}

.navbar {
  position: fixed;
  background-color: #fafafa;
  z-index: 2;
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__logo {
    img {
      height: 7rem;
      margin-top: 1rem;
    }
  }
  &__lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
}

.list {
  &__item {
    margin: 0 0.7rem;
  }
  &__link {
    color: $darkColor;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: $primaryColor;
    }
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $primaryColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
