.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__topwrapper {
    h2 {
      font-size: 3rem;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10rem;
    grid-row-gap: 0px;
    padding: 2rem 10rem;
  }
  &__item {
    &--left {
      img {
        max-width: 100%;
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 40vw;
    }
  }
  &__right {
    &--first,
    &--second,
    &--third {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      border-radius: 50rem !important; /* Border Raduis is not Working!!! :( */
      perspective: 1px;
      &:hover {
        transition: all 0.5s ease-in-out;
        box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.192);
        transform: translateX(.5rem);
      }
    }
  }
  &__line {
    &--first {
      background-color: orange;
      width: 1rem;
    }
    &--second {
      background-color: purple;
      width: 1rem;
    }
    &--third {
      background-color: green;
      width: 1rem;
    }
  }
  &__content {
    &--first,
    &--second,
    &--third {
      padding: 3rem;
      background-color: #fff;
    }
  }
}